:root {
  @include bp(medium) {
    font-size: 125%; // 16px → 20px
  }
}

html {
  text-rendering: geometricPrecision;
  font-feature-settings: $base-opentype-features;

  &.wf-active {
    font-family: 'skolar-sans-latin', $root-font-family;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}

a,
.link {
  color: $color-link;

  &:hover,
  &:active,
  &:focus {
    color: $color-link-hover;
  }
}

[rel='external'] {
  &:after {
    font-size: modular-scale(-2);
    content: '↗';
  }
}

%link-minor {
  color: currentColor;
  box-shadow: 0 1px mix($color-highlight, $color-link, 50%);
  transition: color $base-transition-delay $base-transition-easing, box-shadow $base-transition-delay $base-transition-easing;

  &:hover,
  &:active,
  &:focus {
    color: $color-link-hover;
    text-shadow: 1px 1px $color-white, -1px 1px $color-white, 1px -1px $color-white, -1px -1px $color-white;
    box-shadow: 0 1px $color-link, inset 0 -.15em $color-link; // 4px / 20px
  }
}

.link--minor {
  @extend %link-minor;
}

%indented-paragraphs {
  & + & {
    margin-top: -1 * $base-vertical-spacing-unit * 2;
    text-indent: $base-horizontal-spacing-unit * 1.5;
  }
}

p {
  margin-bottom: $base-vertical-spacing-unit * 2;
  font-feature-settings: $base-opentype-features, 'onum';
}

blockquote {
  font-size: modular-scale(1);
  font-feature-settings: $base-opentype-features, 'dlig';

  cite {
    display: block;

    font-size: modular-scale(-1);
    font-style: normal;
    color: $color-text-lighter;

    &::before {
      content: '—';
    }
  }
}

strong {
  font-weight: $base-font-weight-bold;
}

abbr {
  font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';
}

.caps-to-small-caps {
  font-feature-settings: $base-opentype-features, 'c2sc';
}

.small-caps {
  font-feature-settings: $base-opentype-features, 'smcp';
}
