html {
  font-feature-settings: $base-opentype-features;

  &.wf-active {
    font-family: 'skolar-sans-latin', $root-font-family;
  }
}

img {
  display: block;
  max-width: 100%;
}

a,
.link {
  color: $color-link;

  &:hover,
  &:active,
  &:focus {
    color: $color-link-hover;
  }
}

%link-minor {
  color: $color-text;
  box-shadow: 0 1px mix($color-highlight, $color-link, 50%);
  transition: color $base-transition-delay $base-transition-easing, box-shadow $base-transition-delay $base-transition-easing;

  @include bp(large) {
    box-shadow: 0 1px mix($color-highlight, $color-link, 75%);
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-link-hover;
    text-shadow: 1px 1px $color-white;
    box-shadow: 0 1px $color-link, inset 0 -3px $color-link;
  }
}

.link--minor {
  @extend %link-minor;
}

p {
  margin-bottom: $base-spacing-unit;
  font-feature-settings: $base-opentype-features, 'onum';
}

blockquote {
  font-size: modular-scale(1);
  font-feature-settings: $base-opentype-features, 'dlig';

  cite {
    display: block;

    font-size: modular-scale(-1);
    font-style: normal;
    color: $color-text-light;

    &::before {
      content: '—';
    }
  }
}

abbr {
  font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';
}

.caps-to-small-caps {
  font-feature-settings: $base-opentype-features, 'c2sc';
}

.small-caps {
  font-feature-settings: $base-opentype-features, 'smcp';
}
