html {
  font-feature-settings: $base-opentype-features;

  &.wf-active {
    font-family: 'skolar-sans-latin', Avenir, 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

img {
  display: block;
  max-width: 100%;
}

a,
.link {
  color: $color-link;

  &:hover,
  &:active,
  &:focus {
    color: $color-link-hover;
  }
}

.link--minor {
  color: $color-text;
  box-shadow: 0 1px $color-link;

  transition: color $base-transition-delay $base-transition-easing, box-shadow $base-transition-delay $base-transition-easing;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 1px $color-link, inset 0 -3px $color-link;
  }
}

p {
  margin-bottom: $base-spacing-unit;
}

blockquote {
  font-size: modular-scale(1);

  cite {
    display: block;

    font-size: modular-scale(-1);
    font-style: normal;
    color: $color-text-light;

    &::before {
      content: '—';
    }
  }
}

.caps-to-small-caps {
  font-feature-settings: $base-opentype-features, 'c2sc';
}

.small-caps {
  font-feature-settings: $base-opentype-features, 'smcp';
}
