.license-badge {
  display: inline-block;

  padding: .088844664em .533067984em .266533992em; // (1px 6px 3px) / 11.2556px

  font-size: modular-scale(-1);
  line-height: 1;
  letter-spacing: .044422332em; // .5px / 11.2556px
  color: $color-text-light;
  vertical-align: bottom;
  border: 1px solid currentColor;
  border-radius: 2000px;
}
