.footer {
  @include outer-container;
}

.footer__inner {
  @include clearfix;

  padding: ($base-spacing-unit * 2);
  border-top: $base-border;
}

.footer__content,
.footer__legal {
  @include bp(medium) {
    @include span-columns(6);

    color: $color-text-light;
  }
}

.footer__legal {
  font-size: modular-scale(-1);

  @include bp(medium) {
    text-align: right;
  }

  .footer__content + & {
    margin-top: $base-spacing-unit;

    @include bp(medium) {
      margin-top: 0;
    }
  }
}
