.organisations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include bp(large) {
    @include span-columns(9);
    display: flex;
  }
}

.organisation {
  width: 100%;
  margin-right: $base-vertical-spacing-unit * 2;
  margin-bottom: $base-vertical-spacing-unit;

  @include bp(medium) {
    width: auto;
  }

  a {
    @extend %link-major;
  }
}

.organisation__logo-link {
  display: block;
  // width: $base-vertical-spacing-unit * 10.55555556; // 16:9 of line height
  width: auto;
  line-height: $base-vertical-spacing-unit * 5;
  text-align: center;
  opacity: .3;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.organisation__logo {
  display: block;
  height: $base-vertical-spacing-unit * 3;
  max-width: none;
  vertical-align: middle;
}
