.people {
  @include clearfix;

  display: flex;
  margin-right: -1 * $base-horizontal-spacing-unit;
  margin-left: -1 * $base-horizontal-spacing-unit;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  @include bp(large) {
    @include span-columns(9);
    display: flex;
  }
}

.person {
  @include clearfix;

  padding: $base-vertical-spacing-unit $base-horizontal-spacing-unit;
  margin-bottom: $base-vertical-spacing-unit * 2;

  .people & {
    @include bp(medium) {
      width: (100% / 2);
    }
  }

  p {
    @extend %indented-paragraphs;
  }
}

.person__image-holder,
.person__header {
  margin-bottom: $base-vertical-spacing-unit;
}

.person__image-holder {
  position: relative;
  display: inline-block;
}

.person__image {
  display: block;
  border-radius: 2000px;
  filter: brightness(150%) grayscale(100%);
}

.person__image--less-bright {
  filter: brightness(105%) grayscale(100%);
}

.person__image--more-bright {
  filter: brightness(165%) grayscale(100%);
}

.person__header {
  text-align: center;
}

.person__networks {
  font-size: 0;
  font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';

  a {
    font-size: strip-units(modular-scale(-1)) * 1rem;

    &::after {
      content: ' · ';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }
}

.person__note {
  a {
    @extend %link-minor;
  }
}
