.profile {
  @include clearfix;

  padding: $base-spacing-unit;

  .profiles & {
    @include bp(medium) {
      float: left;
      width: (100% / 2);
    }

    @include bp(large) {
      float: left;
      width: (100% / 3);
    }
  }
}

.profile__image-holder,
.profile__header {
  margin-bottom: $base-spacing-unit;
}

.profile__image-holder {
  position: relative;
  display: inline-block;
}

.profile__image {
  display: block;
  border-radius: 2000px;
  filter: brightness(150%) grayscale(100%);
}

.profile__image--already-bw {
  filter: brightness(105%) grayscale(100%);
}

.profile__header {
  text-align: center;
}

.profile__networks {
  font-size: 0;
  font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';

  a {
    font-size: strip-units(modular-scale(-1)) * 1rem;

    &::after {
      content: ' · ';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }
}

.profile__note {
  a {
    @extend %link-minor;
  }
}
