.main-nav {
  position: relative;
  display: flex;

  @include bp(medium) {
    padding: 0 ($base-horizontal-spacing-unit / 2);
  }
}

a {
  &.nav-link {
    padding: 0 ($base-horizontal-spacing-unit / 2);
    color: $color-text-light;
    font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';

    &:hover,
    &:active,
    &:focus {
      color: $color-text;
    }

    &.active {
      color: $color-text-lighter;
    }
  }
}

// .main-nav__dropdown-toggle {}

.main-nav__visible-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.main-nav__dropdown {
  position: absolute;
  top: 100%;
  left: $base-horizontal-spacing-unit;
  z-index: 10;
  display: none;
  flex-direction: column;
  margin-top: $base-vertical-spacing-unit / 2;
  background-color: $color-white;
  border: $base-border;
  box-shadow: $base-box-shadow;

  > a {
    &.nav-link {
      padding-bottom: $base-vertical-spacing-unit / 2;
    }
  }
}

.main-nav__dropdown--open {
  display: flex;
}
