.people {
  @include clearfix;
}

.person {
  @include clearfix;

  margin-bottom: $base-vertical-spacing-unit * 4;
}

.person__image-holder,
.person__header {
  text-align: center;

  @include bp(medium) {
    text-align: left;
  }
}

.person__image-holder {
  display: inline-block;
  width: $base-vertical-spacing-unit * 10; // using vertical spacing to get multiples of line height

  @include bp(medium) {
    width: $base-vertical-spacing-unit * 6; // using vertical spacing to get multiples of line height
  }
}

.person__image-frame {
  position: relative;
  padding-top: 100%;
}

.person__image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2000px;
  filter: brightness(150%) grayscale(100%);
}

.person__image--darker {
  filter: brightness(105%) grayscale(100%);
}

.person__image--brighter {
  filter: brightness(165%) grayscale(100%);
}

.person__networks {
  font-size: 0;
  font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';

  a {
    @extend %link-major;
    font-size: strip-units(modular-scale(-1)) * 1rem;

    &::after {
      content: ' · ';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }
}

.person__header {
  margin-bottom: $base-vertical-spacing-unit;
  @include bp(medium) {
    @include span-columns(3);
  }
}

.person__note {
  @include span-columns(12);

  @include bp(medium) {
    @include span-columns(9);
  }

  @include bp(large) {
    @include span-columns(7);
  }
}
