.main-nav {
  display: flex;

  a {
    display: inline-block;
    padding: $base-vertical-spacing-unit ($base-horizontal-spacing-unit / 2);
    color: $color-text-light;
    font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';

    &:hover,
    &:active,
    &:focus {
      color: $color-text;
    }

    &.active {
      color: $color-text-lighter;
    }
  }
}
