.footer {
  @include outer-container;
}

.footer__inner {
  @include clearfix;

  padding: ($base-vertical-spacing-unit * 2) ($base-horizontal-spacing-unit * 2);
  border-top: $base-border;
}

.footer__content,
.footer__legal {
  @include bp(medium) {
    color: $color-text-lighter;
  }
}

.footer__content {
  @include bp(medium) {
    @include span-columns(6);
  }
}

.footer__legal {
  font-size: modular-scale(-1);
  line-height: 2 * $base-vertical-spacing-unit;

  .footer__content + & {
    @include span-columns(6);

    margin-top: $base-vertical-spacing-unit;

    @include bp(medium) {
      margin-top: 0;
      text-align: right;
    }
  }
}
