.network-list {
  font-size: 0;
  font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';

  a {
    @extend %link-major;
    font-size: strip-units(modular-scale(-1)) * 1rem;

    &::after {
      content: ' · ';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }
}
