.button {
  display: inline-block;
  padding: ($base-vertical-spacing-unit - rem(3)) $base-horizontal-spacing-unit $base-vertical-spacing-unit;
  font-size: modular-scale(-1);
  font-weight: bold;
  color: $color-brand;
  text-align: center;
  background-color: $color-highlight;
}

.button--primary {
  color: $color-highlight;
  background-color: $color-brand;
}
