.hero {
  @include outer-container;
}

.hero__inner {
  @include clearfix;

  padding: ($base-vertical-spacing-unit * 2) $base-horizontal-spacing-unit;

  @include bp(medium) {
    padding-right: ($base-horizontal-spacing-unit * 2);
    padding-left: ($base-horizontal-spacing-unit * 2);
  }
}

.hero__text-unit {
  @include span-columns(12);

  @include bp(medium) {
    @include span-columns(9);
  }

  @include bp(large) {
    @include span-columns(7);
  }
}
