.header {
  @include outer-container;

  a {
    @extend %link-major;
  }
}

.header__inner {
  @include span-columns(12);
  padding: ($base-vertical-spacing-unit * 2) $base-horizontal-spacing-unit;

  @include bp(medium) {
    padding-right: ($base-horizontal-spacing-unit * 2);
    padding-left: ($base-horizontal-spacing-unit * 2);
  }
}
