.organisations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.organisation {
  width: (100%);

  @include bp(medium) {
    width: (100% / 2);
  }

  @include bp(large) {
    width: (100% / 4);
  }
}

.organisation__logo-link {
  display: inline-block;
  width: $base-vertical-spacing-unit * 10.55555556; // 16:9 of line height
  line-height: $base-vertical-spacing-unit * 5;
  text-align: center;
  opacity: .3;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.organisation__logo {
  display: inline-block;
  vertical-align: middle;
}
