.project {
  @include clearfix;

  margin-bottom: $base-vertical-spacing-unit * 2;

  @include bp(medium) {
    margin-bottom: $base-vertical-spacing-unit * 4;
  }
}

.project__title,
.project__sub-title {
  display: inline;

  @include bp(medium) {
    display: block;
  }
}

// .project__title {}
.project__sub-title {
  font-weight: $base-font-weight;
  color: $color-text-light;
  font-feature-settings: $base-opentype-features, 'smcp', 'c2sc';

  @include bp(medium) {
    font-size: modular-scale(-1);
  }
}

.project__header {
  margin-bottom: $base-vertical-spacing-unit;
  @include bp(medium) {
    @include span-columns(3);
  }
}

.project__contents {
  @include bp(medium) {
    @include span-columns(9);
  }

  @include bp(large) {
    @include span-columns(7);
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
