$color-brand:        $site-brand-color;
$color-grey-lighter: #d1d6d4;
$color-grey-light:   #b0bab5;
$color-grey:         #698075;
$color-grey-dark:    #40574d;
$color-white:        #ffffff;

$color-shadow:       $root-color; // #0d1c0d;
$color-highlight:    #f2f5f5;

$color-text: $color-shadow;
$color-text-light: $color-grey;
$color-text-lighter: $color-grey-light;

$color-link: $color-brand;
$color-link-hover: mix($color-shadow, $color-brand, 10%);

// Typography
$base-opentype-features: 'kern', 'liga'; //TODO: check 'frac' and add if required.

// Spacing
$base-line-height: 24px; // $root-line-height
$base-vertical-spacing-unit: rem($base-line-height / 2);
$base-horizontal-spacing-unit: rem(($base-line-height * $modular-scale-ratio) / 2);

// Border
$base-border-color: mix($color-highlight, $color-grey-lighter, 30%);
$base-border-width: 1px;
$base-border: $base-border-width solid $base-border-color;

// transition
$base-transition-delay: .1s;
$base-transition-easing: ease-out;
