// Values are based on the breakpoints from Foundation 6.1.2

// $ui-breakpoints is defined in the config/ui.config.json

$ui-breakpoints: (
  small:   0,
  medium:  640,
  large:   1024,
  xlarge:  1200,
  xxlarge: 1440
);

$breakpoints: ();

@each $key, $pixels in $ui-breakpoints {
  $screen-string: 'only screen';

  @if ($pixels == 0) {
    $breakpoints: map-merge($breakpoints, ($key: '#{$screen-string}'));
  } @else {
    $breakpoints: map-merge($breakpoints, ($key: '#{$screen-string} and (min-width: #{em($pixels, 16)})'));
  }
}

@mixin breakpoint($media) {
  @if map-has-key($breakpoints, $media) {
    @media #{map-get($breakpoints, $media)} {
      @content;
    }
  } @else {
    @error 'The breakpoint you have provided "#{$media}" is not defined in $breakpoints';
  }
}

@mixin bp($media) {
  @include breakpoint($media) {
    @content;
  }
}
