---
description: We help businesses every step of the way in building beautiful and performant products.
---

{% extends "./layouts/base.html" %}

{% from "./macros/contact-trigger-tag.html" import contactTriggerTag %}

{% block content %}
<div class="hero-quote">
	<div class="hero-quote__inner">
		<blockquote class="hero-quote__quote">
		<span class="hero-quote__line">Design is not making beauty; beauty emerges from selection, affinities, integration, love.</span><cite><a href="//en.wikipedia.org/wiki/Louis_Kahn">Louis Kahn</a></cite>
		</blockquote>
	</div>
</div>

<div class="hero">
	<div class="hero__inner">
		<div class="hero__text-unit">
			<p><a class="link link--minor" href="/team/">We believe</a> that software should be simple to use for humans. At the same time bringing higher returns on investment for businesses. We help you every step of the way in building beautiful and performant products.</p>
			<p>We have helped,
				<a class="link link--minor" href="http://www.razorfish.com/">Razorfish</a>,
				<a class="link link--minor" href="http://www.compile.com/">Compile</a>,
				<a class="link link--minor" href="https://www.linkedin.com/company/724333">Indianstage</a>,
				<a class="link link--minor" href="http://www.apple.com/">Apple</a>,
				<a class="link link--minor" href="http://www.nike.com/">Nike</a>,
				<a class="link link--minor" href="http://www.starz.com/"><span class="caps-to-small-caps">STARZ</span></a>,
				<a class="link link--minor" href="http://www.obeo.com/"><span class="caps-to-small-caps">OBEO</span></a>,
				<a class="link link--minor" href="http://www.pearsoned.com/">Pearson Publishing</a>,
				<a class="link link--minor" href="http://www.onmobile.com/">OnMobile</a>,
				<a class="link link--minor" href="https://www.linkedin.com/company/zoomdeck-technologies-pvt-ltd-">Zoomdeck</a>,
				<a class="link link--minor" href="http://www.ilfsindia.com/"><span class="caps-to-small-caps">IL&FS</span></a>,
				<a class="link link--minor" href="http://www.cue.org.uk/">Cambridge University Entrepreneurs</a>,
				<a class="link link--minor" href="http://www.cavium.com/">Cavium</a>,
				<a class="link link--minor" href="http://www.tcs.com/"><span class="caps-to-small-caps">TCS</span></a>,
				<a class="link link--minor" href="https://www.linkedin.com/company/let's-go-holdings">Let’s Go Holdings</a>,
				and many more.
			</p>
			<p>Want us to help? {{ contactTriggerTag(text = 'Write to us', email = site.contactEmail) }}.</p>
		</div>
	</div>
</div>
{% endblock %}
