---
title: We Work With
description: The people and companies we collaborate.
---

{% from "./macros/member-snippet.html" import memberSnippet %}
{% from "./macros/img-srcset.html" import profileImgSrcset %}

{% extends "./layouts/base.html" %}

{% block content %}
<article class="article">
	<div class="article__inner">
		<div class="article__header">
			<h1 class="article__title">{{title}}</h1>
		</div>
		<div class="members">
			{% for member in collections.members %}
				{{ memberSnippet(member, md5, objectKeys, console) }}
			{% endfor %}
		</div>
	</div>
</article>
{% endblock %}
