---
title: ReactJS Proficiency for JavaScript Developers
---

{% extends "./layouts/base.html" %}

{% block content %}
<article class="article">
	<div class="article__inner">
		<div class="article__header">
			<h1 class="article__title">{{ title }}</h1>
		</div>
		<div class="article__content">
			<p>A workshop for JavaScript developers to get into the new world of ReactJS, and be prepared for their next ReactJS project.</p>
			<p>It will be a hands-on workshop where we will help you write a ReactJS app by the end of the workshop.</p>

			<h2>Date & Venue</h2>
			<p>To Be Announced. Tentatively last week of July, 2016</p>
		</div>
	</div>
</article>
{% endblock %}
