{% from "../macros/overlay-contact-form.html" import overlayContactForm %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block title %}
		<title>{% if not title %}{{ site.title }}{% else %}{{ title }}{% endif %}</title>
		{% endblock %}

		{% if description %}
		<meta name="description" content="{{ description }}">
		{% endif %}

		{% if not disableOgMetaTags %}
		<meta prefix="og: http://ogp.me/ns#" property="og:title" content="{% if not title %}{{ site.title }}{% else %}{{ title }}{% endif %}" />
		<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{{ site.baseUrl }}{% if coverPhoto %}{{ coverPhoto }}{% else %}{{ site.defaultCoverPhoto }}{% endif %}" />
		<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="{{ site.title }}" />
			{% if description %}
			<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ description }}" />
			{% endif %}

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{% if not title %}{{ site.title }}{% else %}{{ title }}{% endif %}" />
		<meta name="twitter:image" content="{{ site.baseUrl }}{% if coverPhoto %}{{ coverPhoto }}{% else %}{{ site.defaultCoverPhoto }}{% endif %}" />
			{% if description %}
			<meta name="twitter:description" content="{{ description }}" />
			{% endif %}
		{% endif %}

		<meta name="theme-color" content="{{ site['brandColor'] }}">
		<link rel="logo" type="image/svg" href="/images/logo.svg">

		<!-- build:css /css/bundle.css data-turbolinks-track="reload" -->
		<link rel="stylesheet" href="/css/bundle.css">
		<!-- endbuild -->

		<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
		<!-- build:js /scripts/bundle.js data-turbolinks-track="reload" defer="defer" -->
		<script src="/scripts/bundle.js"></script>
		<!-- endbuild -->
	</head>
	<body>
		{% include "../includes/header.html" %}

		{% block content %}
		{% endblock %}

		{% include "../includes/footer.html" %}
		{{ overlayContactForm(
			email=site.contactEmail,
			pageIdentifier=title,
			successUrl=site.baseUrl + '/thanks/',
			newsletterSignupUrl=site.newsletterSignupUrl) }}

		{% include "../includes/analytics-intercom.html" %}
	</body>
</html>
