* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 2em auto;
    color: #444;
    background: #ececec;

    font-family: $baseFontFamily;
    font-size: 16px;
    line-height: 1.5;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
}

a {
    @include link-colors($linkColor, $linkColorHover, $linkColorHover, $linkColor, $linkColorHover);
}

hr {
  margin: 0.5em 0;
  border: 0;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

blockquote {
    @include border-radius(50em);
    @extend .box-shadow;
    background: $white;
    margin: 0;
    padding: 0.1em 1.5em;
}

ul li {
    list-style: circle;
}

.disabled {
    color: darken($grayLighter, 20%) !important;
}

.more {
    font-size: small;
    text-transform: uppercase;

    &:before {
        content: "\2192";
        margin-right: 0.75em;
    }
}

.well {
    @extend .border-radius;
    @extend .box-shadow;
    background: $white;
    padding: 1em;
}

.box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 1px);
}

.border-radius {
    @include border-radius(4px);
}