---
title: Contact
---

{% extends "./layouts/base.html" %}

{% from "./macros/contact-trigger-tag.html" import contactTriggerTag %}
{% from "./macros/contact-form.html" import contactForm %}

<title>{% block title %}{{ title }}{% endblock %}</title>

{% block content %}
<article class="article">
	<div class="article__inner">
		<div class="article__header">
			<h1 class="article__title">Contact</h1>
		</div>
		<div class="article__content">
			<p>You can write to us on <a class="link link--minor" href="mailto:{{site.contactEmail}}">{{site.contactEmail}}</a>.</p>
		</div>
	</div>
</article>

{{ contactForm() }}

{% endblock %}
