{% extends "./layouts/base.njk" %}

{% block content %}
{% include "./includes/header.njk" %}
<div class="hero-quote">
  <div class="hero-quote__inner">
    <blockquote>
      “Design is not making beauty; beauty emerges from selection, affinities, integration, love.”<cite><a href="//en.wikipedia.org/wiki/Louis_Kahn">Louis Kahn</a></cite>
    </blockquote>
  </div>
</div>

<div class="hero">
  <div class="hero__inner">
    <div class="hero__text-unit">
      <p><a class="link link--minor" href="/team">We believe</a> in simple and practical approach in making websites, web-apps and mobile apps. While it should be easy & simple for users, it should bring higher Return on Investment for you. We help you make an optimized, well-designed, human-focused product for you.</p>
      <p>We have helped,
        <a class="link link--minor" href="http://www.razorfish.com/">Razorfish</a>,
        <a class="link link--minor" href="http://www.compile.com/">Compile</a>,
        <a class="link link--minor" href="https://www.linkedin.com/company/724333">Indianstage</a>,
        <a class="link link--minor" href="http://www.starz.com/"><span class="caps-to-small-caps">STARZ</span></a>,
        <a class="link link--minor" href="http://www.obeo.com/"><span class="caps-to-small-caps">OBEO</span></a>,
        <a class="link link--minor" href="http://www.pearsoned.com/">Pearson Publishing</a>,
        <a class="link link--minor" href="http://www.onmobile.com/">OnMobile</a>,
        <a class="link link--minor" href="https://www.linkedin.com/company/zoomdeck-technologies-pvt-ltd-">Zoomdeck</a>,
        <a class="link link--minor" href="http://www.ilfsindia.com/"><span class="caps-to-small-caps">IL&FS</span></a>,
        <a class="link link--minor" href="http://www.cue.org.uk/">Cambridge University Entrepreneurs</a>,
        <a class="link link--minor" href="http://www.cavium.com/">Cavium</a>,
        <a class="link link--minor" href="http://www.tcs.com/"><span class="caps-to-small-caps">TCS</span></a>,
        <a class="link link--minor" href="https://www.linkedin.com/company/let's-go-holdings">Let’s Go Holdings</a>,
        and many more.
      </p>
      <p>
        Want us to help? <a href="https://alarisprime.wufoo.com/forms/zdswikn1dig9qh/">Let’s discuss</a>.
      </p>
    </div>
  </div>
</div>
{% include "./includes/footer.njk" %}
{% endblock %}
