---
title: The Team
---

{% from "./macros/img-srcset.njk" import profileImgSrcset %}

{% extends "./layouts/base.njk" %}

<title>{% block title %}{{ title }}{% endblock %}</title>

{% block content %}
{% include "./includes/header.njk" %}
<article class="article">
	<div class="article__inner">
		<div class="article__header">
			<h1 class="article__title">The Team</h1>
		</div>
		<div class="profiles">
			<div class="profile">
				<div class="profile__header">
					<a href="" class="profile__image-link url">
						{{ profileImgSrcset(class='profile__image photo', emailHash="58ee5dea31e2728e65099cc03c694d8e") }}
					</a>
					<h2 class="profile__name fn">Ankur Sethi</h2>
					<nav class="profile__networks">
						<a href="http://twitter.com/GnrlMxms">Twitter</span></a> <a href="http://ankursethi.in/" title="Website">Website</span></a>
					</nav>
				</div>
				<div class="profile__note note">
					<p>Ankur takes selfies, listens to way too much hip-hop, and writes JavaScript.</p>
					<p>He has worked on everything from filesystems to mobile games, but his first love has always been the web platform.</p>
					<p>In the past, Ankur has built complex JavaScript applications for <a href="http://insider.in">Insider.in</a>, <a href="http://testmyfont.com/">Understanding Limited</a>, and <a href="http://abof.com">Aditya Birla Online Fashion</a>, among others.</p>
				</div>
			</div>

			<div class="profile vcard">
				<div class="profile__header">
					<a href="" class="profile__image-link url">
						{{ profileImgSrcset(class='profile__image photo', emailHash="cfbad61c3b9bf96572aaa27e061bb80b") }}
					</a>
					<h2 class="profile__name fn">Brajeshwar Oinam</h2>
					<nav class="profile__networks">
						<a href="http://www.linkedin.com/in/brajeshwar" title="LinkedIn">LinkedIn</span></a> <a href="http://twitter.com/brajeshwar">Twitter</span></a> <a href="http://brajeshwar.me" title="Website">Website</span></a>
					</nav>
				</div>
				<div class="profile__note note">
					<p>Brajeshwar is a seasoned Product Designer. He was part of the founding teams of four Startups – <a href="http://www.crunchbase.com/company/mixercast">Mixercast</a>, <a href="http://www.ocricket.com/">oCricket</a>, InfinitelyBeta, and Levoma.</p>
					<p>He also have experience consulting for many Startups and clients such as Disney, Adobe, <abbr>STARZ</abbr>, Obeo, <abbr>ILFS</abbr>, Salorix, Pearson Publishing, OnMobile, Edition Interactive, Tata Interactive Systems, IL&FS.</p>
				</div>
			</div>

			<div class="profile">
				<div class="profile__header">
					<a href="" class="profile__image-link url">
						{{ profileImgSrcset(class='profile__image profile__image--already-bw photo', emailHash="9c82428ae5e3a7b05fda89449fbb41d2") }}
					</a>
					<h2 class="profile__name fn">Saneef Ansari</h2>
					<nav class="profile__networks">
						<a href="http://www.linkedin.com/in/saneef" title="LinkedIn">LinkedIn</span></a> <a href="http://twitter.com/saneef">Twitter</span></a> <a href="http://saneef.com" title="Website">Website</span></a>
					</nav>
				</div>
				<div class="profile__note note">
					<p>Saneef is an information and product designer. Until we began working togther for Alaris prime, he has a tiny design studio in Bangalore, helping start-ups around there.</p>

					<p>He had previous worked with renowned design agency <a href="http://ia.net">iA, Zürich</a>. He is a graduate from National Institute of Design, Bangalore.</p>
				</div>
			</div>

		</div>
	</div>
</article>
{% include "./includes/footer.njk" %}
{% endblock %}
