{% from "./img-srcset.html" import profileImgSrcset %}

{% macro personSnippet(metaData, md5Fn, keysFn, console) %}
<div class="person vcard">
	<div class="person__header">
		<div class="person__image-holder">
			{% set imageClassNames = 'photo person__image' %}
			{% if metaData.photoBrightness %}
			{% set imageClassNames = imageClassNames + ' person__image--' + metaData.photoBrightness %}
			{% endif %}
			<div class="person__image-frame">{{ profileImgSrcset(class=imageClassNames, emailHash=md5Fn(metaData.email)) }}</div>
		</div>
		<h2 class="person__name fn">{{ metaData.name }}</h2>
		<nav class="person__networks">
			{% for network in metaData.socialNetworks | sort(false, false, 'title') %}
				<a href="{{ network.url }}" title="{{ network.title }}">{{ network.title }}</span></a>
			{% endfor %}
		</nav>
	</div>
	<div class="person__note note">
		{{metaData.contents}}
	</div>
</div>

{% endmacro %}
