<div class="footer">
	<div class="footer__inner">
		<a
			class="license-badge"
			title="CC0 1.0 Universal (CC0 1.0) Public Domain Dedication"
			rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
				<span class="license-badge__text">CCO</span>
			</a>
		<span class="logo logo--tiny logo--monochrome">{% include "../images/logo.svg" %}</span>
	</div>
</div>
