{% from "../macros/contact-mailto-tag.njk" import contactMailtoTag %}

<div class="footer">
	<div class="footer__inner">
		{% if not hideContactOnFooter %}
		<div class="footer__content">
			Like to work with us? {{ contactMailtoTag(text = 'Write to us', email = site.contactEmail) }}.
		</div>
		{% endif %}
		<div class="footer__legal">&copy; 2016 Alaris Prime</div>
	</div>
</div>
